html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-main;
  overflow-x: hidden;
}

section {
  overflow-x: hidden;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
}

p {
  margin-bottom: 0;
  line-height: 150%;
}

.btn {
  text-transform: capitalize;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: $color-primary;
  --bs-btn-active-border-color: $color-primary;
  transition: all 0.5s;

  &:hover,
  &:active {
    box-shadow: 0 0.5rem 2rem rgba($color-primary, 40%);
    transform: translateY(-2px);
  }
}

.btn-md {
  --bs-btn-padding-x: 32px;
  --bs-btn-padding-y: 14px;
}

//========== FORM =========
.form {
  .btn {
    margin-top: 1rem;
  }

  label {
    font-size: 1rem;
    font-weight: 700;
    color: $color-title;
    text-align: left;
    width: 100%;
  }

  &-control {
    padding: 1rem;
  }
}

//========  MOBILE  =========
@include media-breakpoint-down(sm) {
  .container {
    margin: 0 auto;
    max-width: 96%;
  }
}
