// Font
$font-main: "Poppins", sans-serif;

// Colors
$color-primary: #1c5c45;
$color-secondary: #bc9e7e;
$color-title: #141517;
$color-text: #777e8b;
$color-text-light: #b8b6b4;
$color-white: #ffffff;
